@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.App {
    font-family: "Montserrat", sans-serif;
}

nav {
    background: #03a9f4;
    color: #fff;
    margin-bottom: 40px;
    padding: 10px !important;
}

nav p {
    margin-bottom: 0;
}

.title {
    margin-bottom: 0;
}

.players {
    margin-top: 30px;
}

.player {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #efefef;
}

.player p {
    margin-bottom: 0;
}

.dark-mode__toggle {
    background: white;
    border-radius: 50px;
    border: 1px solid #808080;
    height: 20px;
    position: relative;
    width: 40px;
}

.toggle {
    background: #000;
    border-radius: 50px;
    height: 18px;
    left: 0;
    position: absolute;
    transition: 0.2s;
    width: 20px;
}

.toggled {
    left: 18px;
}
